@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --color-mt-purple-500: #5d28fe;
}

@theme inline {
    --font-montserrat: Montserrat, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --color-mt-purple-800: color-mix(in oklch, #5d28fe, black 10%);
}

@variant dark (&:where(.dark, .dark *));
